.main {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.side {
  flex: 1;
}
.main-products {
  flex: 3;
}
@media (max-width: 400px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
